.container
  .row
    %h2 Lookup a Periscope User
    .col-md-6
      = simple_form_for :user, url: '#' do |f|
        = f.input :twitter_handle
        = f.button :button, "List Recent", class: "btn btn-lg btn-primary", id: "lookup-list", data: { action: :list }
        = f.button :button, "Watch Latest", class: "btn btn-lg btn-success", id: "lookup-latest", data: { action: :latest }
