.container
  .row
    %h2 Lookup a Periscope User
    .col-md-6
      = simple_form_for :user, url: '#' do |f|
        = f.input :twitter_handle, label: 'Twitter handle:', hint: 'Try @chelseavperetti, she seems to stream often', input_html: { maxlength: 16 }
        = f.button :button, "List Past 24hrs", class: "btn btn-lg btn-primary", id: "lookup-list", data: { action: :list }
        = f.button :button, "Watch Latest Now", class: "btn btn-lg btn-success", id: "lookup-latest", data: { action: :latest }
