.none-found
  .row
    .main-image.center-block
      = image_tag("noperiscopes.png", {class: 'noperiscopes-image'})
  .row
    %h1 No Periscopes
    %h2 No recent broadcasts are available for #{object_not_found}
    %h2 Try again later.
