.container
  - if @embeds.blank?
    = render partial: 'none_found', locals: {object_not_found: "the #{@channel.capitalize} channel"}
  - else
    %h2 Periscope Streams for channel #{@channel}
    = render partial: 'tweet_list'
