.container
  - if @embeds.blank?
    = render partial: 'none_found', locals: {object_not_found: "the #{@channel.capitalize} channel"}
  - else
    = render partial: 'tweet_list', locals: {object_title: "#{@channel.capitalize} Channel"}
